.layout-wrap {
  text-align: center;
  height: 12vh;
  border: dashed 2px grey;
}

.cart-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.img-product {
  height: 15vh;
}
.center {
  display: flex;
  justify-content: center;
}

.product-compo {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  margin: 0.5rem 0;
  width: 60vw;
  max-width: 765px;
  min-width: 612px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.main-side-wrapper {
  margin: 5% 0;
  width: 95%;
  max-width: 1240px;
  display: flex;

  justify-content: space-between;
}

.pay-checkout {
  margin: 0.5rem 0;
  margin-left: 3%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

  height: 70vh;
  background-color: white;
  max-width: 340px;
  min-width: 280px;
}

.delete-btn,
.aside-btn {
  background: none;
  border: 1px solid #12ccb4;
  cursor: pointer;
  padding: 0.5%;
}
.delete-btn {
  border: 1px solid red;
  margin-right: 2%;
}
.title-item {
  width: 25%;
}
.input-num {
  width: 5%;
}

.center-pay {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: auto;
}
.summary {
  width: 100%;
  border-bottom: 1px solid black;
}
.delivery-form {
  position: relative;
  height: auto;
}

input.submit-btn-deliv {
  background: none;
  border: 1px solid #12ccb4;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 30%;
  cursor: pointer;
}
.discount-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.submit-btn-disc {
  background: none;
  border: 1px solid #12ccb4;
  width: 30%;
  cursor: pointer;
}

.total-con,
.final-con,
.promo-added,
.delivery-added {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h5.deliv-val {
  color: red;
}
h5.disc-val {
  color: #22a292;
}

.alert {
  color: red;
}
.promo-code,
.zip-code,
.city-code {
  width: 60%;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid grey;
}

.add-promo,
.add-shipping {
  cursor: pointer;
  align-self: start;
}

.delivery-btn {
  padding: 0.8rem 5rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: #12ccb4;
  border-radius: 5px;
}

.paypal-con {
  text-align: center;
  width: 85%;
}
.secure-icons {
  text-align: center;
}

.secure-payment-con h5,
path {
  color: rgba(0, 0, 0, 0.575);
  margin-right: 1rem;
}
.secure-payment-con {
  display: flex;
}
.paypal {
  height: 1.5rem;
}

.footer {
  text-align: center;
  height: 50vh;
  border: 2px dashed grey;
  border-bottom: none;
}

.copy-basket {
  align-self: end;
}
.copy-basket svg {
  font-size: 1rem;
}

.contact-info {
  margin: 0.5rem 0;
  margin-left: 3%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: white;
  max-width: 340px;
  min-width: 280px;
}
.inner-conn {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 210px;
  margin: auto;
  text-align: center;
}

.chat-btn {
  background: none;
  border: 1px solid #12ccb4;
  cursor: pointer;
  padding: 3% 10%;
}
