.product-cards-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.page-content-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compare-button {
  padding: 5px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
  box-shadow: 5px 5px rgba(199, 196, 196, 0.616);
}
