@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #0c193a;
}
body {
  background-color: #f5f6f7;
}

.header {
  text-align: center;
  height: 15vh;
  border: dashed 2px grey;
  border-bottom: 0;
}

.layout-wrap {
  text-align: center;
  height: 12vh;
  border: dashed 2px grey;
}

.cart-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
}

.img-product {
  height: 15vh;
}

.product-compo {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  margin: 0.5rem 0;
  width: 100%;
  box-shadow: 0px 0px 4px -2px #000000c7;
}

.main-side-wrapper {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.pay-checkout {
  margin: 0.5rem 0;
  box-shadow: 0px 0px 4px -2px #000000c7;

  height: 60vh;
  background-color: white;
  width: 25%;
}

.input-num {
  width: 10%;
}

.center-pay {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: auto;
}
.summary {
  width: 100%;
  border-bottom: 1px solid black;
}
.total-con,
.final-con {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.promo-code,
.zip-code {
  width: 100%;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid grey;
}

.add-promo {
  align-self: start;
}

.delivery-btn {
  padding: 0.8rem 5rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: #12ccb4;
  border-radius: 30px;
}
.secure-icons {
  text-align: center;
}

.secure-payment-con h4,
h3,
svg,
path {
  color: rgba(0, 0, 0, 0.575);
}
.paypal {
  height: 1.5rem;
}

.footer {
  text-align: center;
  height: 50vh;
  border: 2px dashed grey;
  border-bottom: none;
}
